@model IEnumerable<StoreApp.Models.Product>

@{
    ViewData["Title"] = "Начало";
}

<h2 class="mb-4 text-center">Най-нови продукти</h2>

@await Html.PartialAsync("~/Views/Products/Index.cshtml", Model)
